
/*------------------------------------*\
    ### CSS Display Types
\*------------------------------------*/
.block-display{display: block}
.block-flex{display: flex;}
.block-inline {display: inline-block}
.block-none{display: none;}


/*------------------------------------*\
    ### CSS Position Types
\*------------------------------------*/
.block-absolute{
  position: absolute;
}

.block-relative{
  position: relative;
}

/*------------------------------------*\
    ### Flex elements
\*------------------------------------*/

.flex-row{flex-direction: row}
.flex-column{flex-direction: column}

/*------------------------------------*\
    ### Flex growth
\*------------------------------------*/

.flex-1{flex:1}

/*------------------------------------*\
    ### Flex alignment
\*------------------------------------*/

.flex-align-center{
  align-items: center;
}

/*------------------------------------*\
    ### Flex justify
\*------------------------------------*/


.justify-content-center{
  justify-content: center
}


/*------------------------------------*\
    ### alignment
\*------------------------------------*/

.margin-auto{margin:auto}
.margin-none{margin:0}

/*------------------------------------*\
    ### Width and Height
\*------------------------------------*/

.height-100vh{
  min-height:100vh;
}

.height-100mh{
  min-height: 100%;
}

.height-100{
  height:100%;
}