.app-header {
  background: $green-dark; /* Old browsers */
  background: -moz-linear-gradient(top, $green-dark 20%, $green-regular 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(top, $green-dark 20%,$green-regular 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(to bottom, $green-dark 20%,$green-regular 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr= $green-dark, endColorstr= $green-regular,GradientType=0 ); /* IE6-9 */;
  color: $gray-white;
  .fas:first-child{margin-right: $space-half}
  .fas:last-child{margin-left: $space-half}
}