/*------------------------------------*\
    ### Layout of Main Body
\*------------------------------------*/


html,body{margin:0; padding:0; width: 100%; max-height: 100vh}

.app {
  text-align: center;
}

.App-link {
  color: #61dafb;
}
.recipe-container{
  margin-bottom: $space-double;
}
ul.recipes-list{
  &.is-active{
    animation: content-fadein 2.5s linear forwards;
  }
  margin: 0;
  padding: 0 $space-default;
  li{list-style-type: none; margin-top:$space-default;
   &:first-child{margin-top:0}
  }
  h2{padding:$space-half}
}

