@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @-ms-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

@mixin animation($str,$duration,$easing,$repeat) {
  -webkit-animation: #{$str,$duration,$easing,$repeat};
  -moz-animation: #{$str,$duration,$easing,$repeat};
  -ms-animation: #{$str,$duration,$easing,$repeat};
  -o-animation: #{$str,$duration,$easing,$repeat};
  animation: #{$str,$duration,$easing,$repeat};
}



/**------------------------------------*\
  Rotate Animation
\*------------------------------------*/

@include keyframes(spin-clockwise){
  from{transform:rotate(-90deg)}
  to{transform:rotate(0deg)}
}

/**------------------------------------*\
  Fly Right Animation
\*------------------------------------*/

@include keyframes(btn-flip){
  0% {
    position: relative;
    transform: rotateX(0deg);
    opacity: 1;
  }
  49%{
    position: relative;

    opacity: 1;
  }
  50% {
    position: absolute;
  }
  51%{
    opacity: 0;
  }
  90%{
    opacity: 0;
    transform: rotateX(360deg);
  }
  100%{
    display: none;
    opacity: 0;
    z-index: 5;
  }
}

/**------------------------------------*\
   Fade in Animation
\*------------------------------------*/

@include keyframes(content-fadein){
  0%{opacity:0;}
  50%{opacity: 0.5;}
  100%{opacity: 1}
}