/*------------------------------------*\
    ### Solid Borders
\*------------------------------------*/
.border-1-black{
  border:1px solid $black;
}

.border-2-black{
  border:2px solid $black;
}

.border-1-green{
  border:2px solid $green-regular;
}

.border-top-2-green{
  @extend .border-1-green;
  border-width: 2px;
  border-left: 0;
  border-right: 0;
}