/*------------------------------------*\
    ### Button Declarations
\*------------------------------------*/
.btn{
      padding:0.5em 1em;
      transition: border-color 0.4s ease 0s, background-color 0.4s ease 0s;
      text-decoration: none;
      font-size: 1.6em;
      &.w-auto{min-width: auto}
      &:hover{cursor: pointer}
   span{margin-right: $space-half}
 }

 .rounded-10px{
   border-radius: 10px;
 }


 .btn.bg-green-regular{
   &:hover{
    background: $green-dark;
   }
   &.is-active{
     background: $green-dark;
     animation: btn-flip 0.6s linear forwards;
   }
 }
 .btn.text-white:hover{
   color:$gray-white;
 }