/*------------------------------------*\
    ### Fonts
\*------------------------------------*/
html, body{font-family: "Helvetica Neue", Arial,sans-serif}

/*------------------------------------*\
    ### Text Properties
\*------------------------------------*/

.text-center{
text-align: center;
}

.text-left{
text-align: left;
}
.text-right{
  text-align: right;
}

.text-bold{
  font-weight: bold;
}

/*------------------------------------*\
    ### Text Colors
\*------------------------------------*/
.text-white{
 color: $white;
}

/*------------------------------------*\
    ### Header sizes
\*------------------------------------*/

h2{font-size: 1.6em;}
h3{font-size: 1.0em;}