/*------------------------------------*\
    $VARIABLES
\*------------------------------------*/

/**
############ Colors ################
**/

$white: #fff;
$gray:  #7c7c7c;
$gray-light: #c7c7c7;
$gray-white: #f7f7f7;
$gray-smoke:#bebebe;
$green-lemon:#2ecc71;
$green-regular:#1aaa55;
$green-dark:#16843F;
$black : #000;

/*------------------------------------*\
    $spacing values
\*------------------------------------*/

$space-default:1em;
$space-half:0.5em;
$space-double:2em;